@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.pokeHeader {
    text-align: center;
    font-family:'Pokemon Solid', sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.pokeSearch {
    text-align: center;
}

.pokeCard{
    display: block;
    font-family: 'Press Start 2P', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.pokeNumber {
    margin-top: 10px;
}

.pokeControls{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.hide {
    display: none;
}

.pokemon-listing {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
};
